.facebook-login {
  background: #3b5998;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
}

.facebook-login span {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-left: 15px;
}
.facebook-login svg {
  margin-left: 20px;
}

.facebook-login:hover {
  background: #4a6294;
}
