.label {
  display: block;
  width: 100%;
  margin: 25px auto 0;
  text-align: center;
}

.label span {
  font-size: 16px;
  margin: 10px;
  color: #9d9d9d;
}

.input {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.input:focus {
  border-bottom: 1px solid rgba(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  .input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .input:focus {
    border-bottom: 1px solid rgba(255, 255, 255);
  }
}
