.container {
  position: relative;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}
.divider {
  border-top: 1px solid #b4b4b4;
  width: 100%;
}
.dividerText {
  font-size: 12px;
  width: 20rem;
  color: #b4b4b4;
}

/* @media (prefers-color-scheme: dark) {
  .divider {
    color: white;
  }
} */
